.home-info {
  height: auto;

  .banner-container {
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    // max-width: 1240px;

    .feature {
      margin-bottom: 80px;
    }

    .background-image-one {
      background-image: url(../img/landscape/outdoor-2.jpg);
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: left;
      height: 500px;
    }

    .background-image-two {
      background-image: url(../img/landscape/cohen-wedd.jpg);
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 500px;
      max-width: 1000px;
    }

    .info-one {
      justify-content: flex-end;
    }

    .info-two {
      justify-content: flex-start;
      margin: 0 auto;
    }

    .container {
      position: relative;
      max-width: 1300px;
      display: flex;
      // margin-bottom: 60px;

      .text-box-one {
        max-width: 400px;
        margin-top: -180px;
        padding: 5px 40px;
      }

      .text-box-two {
        max-width: 340px;
        margin-top: -200px;
        padding: 5px 40px;
      }

      .text-box {
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
        height: auto;
        border-radius: 20px;
      }

      p {
        margin: 5px;
      }

      .title {
        font-weight: bolder;
        text-transform: capitalize;
        font-size: 20px;
      }

      .subtitle {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        text-transform: capitalize;
        padding-bottom: 5px;
      }

      .para {
        padding-top: 10px;
        border-top: 1px solid #111;
      }
    }
  }
}

// MEDIA QUERIES

@media only screen and (max-width: 950px) {
  .home-info {
    .banner-container {
      .container {
        .text-box-one {
          max-width: 300px;
          margin-top: -200px;
          padding: 5px 20px;
        }

        .text-box-two {
          max-width: 300px;
          padding: 5px 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .home-info {
    height: auto;

    .banner-container {
      .feature {
        margin-bottom: 0px;
      }

      .container {
        display: block;
        margin: 20px auto;

        .text-box {
          padding: 5px 20px;
          margin: 0 auto;
          max-width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-info {
    .banner-container {
      height: auto;

      .background-image-one {
        background-image: url(../img/landscape/outdoor-2-mobile.jpg);
        background-position: center;
        height: 500px;
        width: 100%;
        background-size: cover;
      }

      .background-image-two {
        background-image: url(../img/landscape/cohen-wedd-mobile.jpg);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-info {
    height: auto;

    .banner-container {
      .container {
        .text-box {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .home-info {
    .banner-container {
      .background-image-two {
        background-image: url(../img/landscape/cohen-wedd-mobile.jpg);
        height: 400px;
      }
    }
  }
}
