body {
  height: 100%;
  background-color: #fff;
  font-family: "Lato", cursive;
  font-style: italic;
  line-height: 1.4;
  color: #111;
}

.visually-hidden {
  background-color: #fff;
  color: #000;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
